#help_overlay {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 20px;
    background-color: rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    z-index: 10000;
    color: #fff;
}

#help_overlay p {
    padding: 0px;
    margin: 2px;
}

/*************************************/ 
/* Choice overlay style for topic 09 */
/*************************************/ 
 
#choice_overlay {
    position: fixed;
    display: none;
    padding: 20px;
    background-color: rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    z-index: 10001;
    color: #fff;
}

#choice_overlay a {
    color: #fff;
    text-decoration: none;
}

#choice_overlay a:before {
	content: "\25B6   ";
}

#choice_overlay p {
    padding: 0px;
    margin: 2px;
    margin-bottom: 4px;
}

#choice_overlay p:not(:first-child) {
    margin-top: 8px;
    border-top: 1px solid #aaa;
    padding-top: 10px;
}